{% extends 'base.html.twig' %}

{% block title %}Découvrir nos Recette{% endblock %}

{% block body %}

        <main class="container mt-5">
            <h1>Nos recettes</h1>
                <div class="row justify-content-around mt-5">
                        {% for recette in recettes %}
                            <div class="card mt-5" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h2 class="card-title">{{ recette.title }}</h2>
                                    <p class="card-text">{{ recette.description}}</p>
                                    <a href="{{ path('app_recette', {title: recette.title}) }}" class="btn btn-primary">Découvrir</a>
                                </div>
                            </div>
                        {% endfor %}
                </div>
        </main>

{% endblock %}
